<div class="background-wrapper">
    <!-- 🌤 Animated background elements -->
    <div class="sky">
    <div class="birds"></div>
      <div class="cloud cloud1"></div>
      <div class="cloud cloud2"></div>
      <div class="sun"></div>
      <div class="bird bird2"></div>
      <div class="hills"></div>
    </div>
  <div class="wheel-container">
  <input type="color" class="color-input" value="#FF0000">
  <input type="color" class="color-input" value="#FF7F00">
  <input type="color" class="color-input" value="#FFFF00">
  <input type="color" class="color-input" value="#00FF00">
  <input type="color" class="color-input" value="#0000FF">
  <input type="color" class="color-input" value="#4B0082">
  <input type="color" class="color-input" value="#8B00FF">
  <div class="center-label">🎨</div>
</div>